<footer>

	<hr style='border-top: 4px double; color: gray'>
	<br>

	<!-- CV -->
	<a href='https://yalinli.group'> Group Website </a>&nbsp |

	<!-- CV -->
	<a href='https://drive.google.com/file/d/1XxD9vS4LtoyfvWILSEbQZ6toQdKhBdt4/view?usp=sharing'>
		<i>Curriculum Vitae</i>
	</a>&nbsp |

	<!-- Email -->
	Email: 
	<a href='mailto:yalinli2@illinois.edu'>Professional</a>;&nbsp
	<a href='mailto:mailto.yalin.li@gmail.com'>Personal</a> |

	<!-- Google Scholar -->
	<img src='/images/google-scholar.png', alt='Google Scholar',
	style='float: center; width: 32px; vertical-align: middle'>
	<a href='https://scholar.google.com/citations?user=5Zv3mM0AAAAJ&hl=en'>Google Scholar</a>
	&nbsp&nbsp

</footer>