<!-- header -->
<head>
<style>
header {
  background-image: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>

<header>
<h1>
Yalin Li
</h1>
</header>

<aside>
	<!--
	<div>  Yalin Li </div>
	-->
	<div class="container">
		<nav>
			<ul>
				<!-- the index/home page -->
				<li><a href="{{ '/index' | prepend: site.baseurl }}">Home</a></li>
				<!-- other content pages -->
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<!-- CV 
				<li><a href="https://drive.google.com/file/d/1XxD9vS4LtoyfvWILSEbQZ6toQdKhBdt4/view?usp=sharing">CV</a></li>
				-->
			</ul>
		</nav>
	</div>
</aside>