$content-width: 800px;
$main: #ffffff;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #212121;
$link-hover-color: #424242;;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #262626;
$light: #e7edf4;
$header: $link-hover-color;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
